body {
  background-color: #eff2f7;
  max-width: 562px;
  margin: 0 auto;
}
.title {
  background-color: #e7400c;
  font-size: 16px;
  text-align: center;
  color: #fff;
  height: 76px;
  line-height: 76px;
}
.content {
  padding: 0 5%;
  background-color: #fff;
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.img > img {
  width: 90px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 16px 0;
  border-top: 2px solid #f6f6f6;
  color: #8f8f8f;
  font-size: 14px;
}
.info .l {
  width: 30%;

  font-family: "Microsoft YaHei", sans-serif;
}
.info .r {
  width: 70%;

  font-family: "Microsoft YaHei", sans-serif;
}

.none {
  height: 200px;
  background-color: #eff2f7;
}
.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 562px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #ffffff;
}
